<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="EndpointConsultaCNSConfig" value="CadsusServicePort"/>
    <add key="UserNameWebServiceDATASUS" value="CADSUS.CNS.PDQ.PUBLICO"/>
    <add key="PasswordWebServiceDATASUS" value="kUXNmiiii#RDdlOELdoe00966"/>
    <add key="CNESWebServiceDATASUS" value="6963447"/>
    <add key="UsuarioCNESWebServiceDATASUS" value="LEONARDO"/>
  </appSettings>
  <system.serviceModel>
    <bindings>
      <customBinding>
        <binding name="CadsusServiceSOAP12Binding">
          <textMessageEncoding messageVersion="Soap12" />
          <security authenticationMode="UserNameOverTransport" enableUnsecuredResponse="true"></security>
          <httpsTransport />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="https://servicoshm.saude.gov.br/cadsus/CadsusService/v5r0"
          binding="customBinding" bindingConfiguration="CadsusServiceSOAP12Binding"
          contract="SvcAcessoDATASUS.CadsusServicePortType" name="CadsusServicePort" />
    </client>
  </system.serviceModel>
</configuration>